<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.recipeapp.dao.mappers.UsersMapper">

    <!-- add a new users entry -->
    <insert id="addUsers" parameterType="Users">
        INSERT INTO users (user_name, password)
        VALUES (#{users.userName}, #{users.password})
    </insert>

    <!-- delete a users entry by ID -->
    <delete id="deleteUsers" parameterType="int">
        DELETE FROM users WHERE user_id = #{userId}
    </delete>

    <!-- update a users entry -->
    <update id="updateUsers" parameterType="Users">
        UPDATE users
        SET user_name = #{users.userName},
            password = #{users.password}
        WHERE user_id = #{users.userId}
    </update>

    <!-- Select a users entry by ID -->
    <select id="getUsersById" resultType="Users" parameterType="int">
        SELECT user_id, user_name, password
        FROM users
        WHERE user_id = #{userId}
    </select>

    <!-- Select users entries by Name (fuzzy match) -->
    <select id="getUsersByName" resultType="Users" parameterType="string">
        SELECT user_id, user_name, password
        FROM users
        WHERE user_name LIKE CONCAT('%', #{userName}, '%')
    </select>

    <!-- Select the newest users entry -->
    <select id="getNewestUsers" resultType="Users">
        SELECT user_id, user_name, password
        FROM users
        ORDER BY user_id DESC
        LIMIT 1
    </select>

    <!-- Select all users entries -->
    <select id="getAllUsers" resultType="Users">
        SELECT user_id, user_name, password
        FROM users
    </select>

</mapper>