<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="dao.mappers.IngredientsMapper">

    <!-- add a new ingredients entry -->
    <insert id="addIngredients" parameterType="Ingredients">
        INSERT INTO ingredients (name)
        VALUES (#{ingredients.name})
    </insert>

    <!-- delete an ingredients entry by ID -->
    <delete id="deleteIngredients" parameterType="int">
        DELETE FROM ingredients
        WHERE id = #{ingredientsId}
    </delete>

    <!-- update an ingredients entry -->
    <update id="updateIngredients" parameterType="Ingredients">
        UPDATE ingredients
        SET name = #{ingredients.name}
        WHERE id = #{ingredients.id}
    </update>

    <!-- Select a ingredients entry by ID -->
    <select id="getIngredientsById" resultType="Ingredients" parameterType="int">
        SELECT id, name
        FROM ingredients
        WHERE id = #{ingredientsId}
    </select>

    <!-- Select ingredients entries by Name (fuzzy match) -->
    <select id="getIngredientsByName" resultType="Ingredients" parameterType="string">
        SELECT id, name
        FROM ingredients
        WHERE name LIKE CONCAT('%', #{name}, '%')
    </select>

    <!-- Select the newest ingredients entry -->
    <select id="getNewestIngredients" resultType="Ingredients">
        SELECT id, name
        FROM ingredients
        ORDER BY id DESC
        LIMIT 1
    </select>

    <!-- Select all ingredients entries -->
    <select id="getAllIngredients" resultType="Ingredients">
        SELECT id, name
        FROM ingredients
    </select>

</mapper>
