<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="dao.mappers.RecipesMapper">

    <!-- Add a new recipes entry -->
    <insert id="addRecipes" parameterType="Recipes" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO recipes (user_id, title, description, instructions, cook_time, servings, like_count, image_url)
        VALUES (#{userId}, #{title}, #{description}, #{instructions}, #{cookTime}, #{servings}, #{likeCount}, #{imageUrl})
    </insert>

    <!-- Delete a recipes entry by ID -->
    <delete id="deleteRecipes" parameterType="Integer">
        DELETE FROM recipes WHERE id = #{recipesId}
    </delete>

    <!-- Update a recipes entry -->
    <update id="updateRecipes" parameterType="Recipes">
        UPDATE recipes
        SET user_id = #{userId},
            title = #{title},
            description = #{description},
            instructions = #{instructions},
            cook_time = #{cookTime},
            servings = #{servings},
            like_count = #{likeCount},
            image_url = #{imageUrl}
        WHERE id = #{id}
    </update>

    <!-- Select a recipes entry by ID -->
    <select id="getRecipesById" parameterType="int" resultType="Recipes">
        SELECT id, user_id AS userId, title, description, instructions,
               cook_time AS cookTime, servings, like_count AS likeCount, image_url AS imageUrl
        FROM recipes
        WHERE id = #{id}
    </select>

    <!-- Select recipes entries by title (fuzzy match) -->
    <select id="getRecipesByTitle" parameterType="String" resultType="Recipes">
        SELECT id, user_id AS userId, title, description, instructions,
               cook_time AS cookTime, servings, like_count AS likeCount, image_url AS imageUrl
        FROM recipes
        WHERE title LIKE CONCAT('%', #{title}, '%')
    </select>

    <!-- Select the newest recipes entry -->
    <select id="getNewestRecipes" resultType="Recipes">
        SELECT id, user_id AS userId, title, description, instructions,
               cook_time AS cookTime, servings, like_count AS likeCount, image_url AS imageUrl
        FROM recipes
        ORDER BY id DESC
        LIMIT 1
    </select>

    <!-- Select  recipes entries by likeCount -->
    <select id="getLikeRecipes" resultType="Recipes">
        SELECT id, user_id AS userId, title, description, instructions,
               cook_time AS cookTime, servings, like_count AS likeCount, image_url AS imageUrl
        FROM recipes
        ORDER BY like_count DESC
    </select>

    <!-- Select all recipes entries -->
    <select id="getAllRecipes" resultType="Recipes">
        SELECT id, user_id AS userId, title, description, instructions,
               cook_time AS cookTime, servings, like_count AS likeCount, image_url AS imageUrl
        FROM recipes
        ORDER BY id ASC
    </select>

</mapper>