<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="dao.mappers.UsersMapper">

    <!-- add a new users entry -->
    <insert id="addUsers" parameterType="Users">
        INSERT INTO users (username, password)
        VALUES (#{userName}, #{password})
    </insert>

    <!-- delete a users entry by ID -->
    <delete id="deleteUsers" parameterType="int">
        DELETE FROM users WHERE id = #{userId}
    </delete>

    <!-- update a users entry -->
    <update id="updateUsers" parameterType="Users">
        UPDATE users
        SET username = #{userName},
            password = #{password}
        WHERE id = #{userId}
    </update>

    <!-- Select a users entry by ID -->
    <select id="getUsersById" resultType="Users" parameterType="int">
        SELECT id AS userId, username AS userName, password
        FROM users
        WHERE id = #{userId}
    </select>

    <!-- Select users entries by Name (fuzzy match) -->
    <select id="getUsersByName" resultType="Users" parameterType="String">
        SELECT id AS userId, username AS userName, password
        FROM users
        WHERE username LIKE CONCAT('%', #{userName}, '%')
    </select>

    <!-- Select the newest users entry -->
    <select id="getNewestUsers" resultType="Users">
        SELECT id AS userId, username AS userName, password
        FROM users
        ORDER BY id DESC
        LIMIT 1
    </select>

    <!-- Select all users entries -->
    <select id="getAllUsers" resultType="Users">
        SELECT id AS userId, username AS userName, password
        FROM users
    </select>

</mapper>