<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
    <environments default="dev">
        <environment id="dev">
            <transactionManager type="JDBC"/>
            <dataSource type="POOLED">
                <property name="driver" value="com.mysql.cj.jdbc.Driver"/>
                <property name="url" value="jdbc:mysql://localhost:3306/cookbook?useSSL=false&serverTimezone=UTC"/>
                <property name="username" value=""/>
                <property name="password" value=""/>
            </dataSource>
        </environment>
    </environments>
    <mappers>
        <mapper resource="dao/mappers/UsersMapper.xml"/>
        <mapper resource="dao/mappers/RecipesMapper.xml"/>
        <mapper resource="dao/mappers/IngredientsMapper.xml"/>
        <mapper resource="dao/mappers/CommentsMapper.xml"/>
        <mapper resource="dao/mappers/RecipeIngredientsMapper.xml"/>
    </mappers>
</configuration>